html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  text-decoration: none;
  color: #ccc;
  font-size: 1.125rem;
  display: inline-block;
}

.btn:hover {
  text-decoration: none;
  border-radius: 8px;
  color: #333;
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.125rem;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-ghost {
  border-color: #000;
  color: #000;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-primary {
  background-color: #333;
  color: #fff;
}

.w, .s, .p {
  display: inline-block;
  border-radius: 8px;
  border: 3px;
  text-decoration: none;
  padding: .4em .75em .3em;
}

.g {
  display: inline-block;
  border-radius: 8px;
  border: 3px solid #333;
  text-decoration: none;
  padding: .4em .75em .3em;
}

.btn-subtle:hover {
  background-color: #666;
  color: #000;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #000;
}

.btn-warning:hover {
  background-color: #933;
  color: #000;
}
